.menu{
  margin:40px auto 80px;

  .dish{
    margin: 20px auto;
    text-align: center;
  }

  .dishImage{
    width: 80%;
    height: 200px;
    border: 1px solid #eee;
  }

  .dishName{
    font-size: 26px;
  }

  .dishPrice{
    font-size: 24px;
    color:#555;
  }



}

.link{
  cursor: pointer;
}


#orderPreview{
  background-color: #eee;
  position: fixed;
  bottom: 0;
  height: 60px;
  padding: 0 60px 0 30px;

  #submitOrder, #viewOrder{
    width: 140px;
    height: 40px;
    margin: 10px;
  }
}

#orderDetail{
  background-color: #ddd;
  position: fixed;
  bottom: 60px;
  height: auto;
  width: 100%;
  padding: 20px;
}

.orderItem{
  height: 50px;
  width: 100%;
  margin-top: 10px;

  .deleteItem{
    margin:10px;
  }
}
